argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
cffi==1.17.1
Django==5.2.3
Faker==24.4.0
phonenumbers==8.13.32
pillow==11.2.1
pycparser==2.22
python-dateutil==2.9.0.post0
python-stdnum==1.18
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2

pytest
pytest-django
