{% extends 'base.html' %}
{% block title %}Audit Logs{% endblock %}
{% block content %}
<h2>Audit Logs</h2>
{% include 'includes/filter_form.html' %}
<div id="list-container">
<table class="table">
  <thead>
    <tr>
      {% include 'includes/sortable_th.html' with label='Timestamp' field='timestamp' %}
      {% include 'includes/sortable_th.html' with label='User' field='actor__username' %}
      {% include 'includes/sortable_th.html' with label='Action' field='action' %}
      {% include 'includes/sortable_th.html' with label='Type' field='request_type' %}
      {% include 'includes/sortable_th.html' with label='Target' field='target_user' %}
      {% include 'includes/sortable_th.html' with label='Company' field='company__name' %}
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for log in page_obj %}
    <tr>
      <td>{{ log.timestamp }}</td>
      <td>{{ log.actor.username }}</td>
      <td>{{ log.action }}</td>
      <td>{{ log.request_type }}</td>
      <td>{{ log.target_user }}</td>
      <td>{{ log.company }}</td>
      <td><a href="{% url 'audit_log_detail' log.id %}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'includes/pagination.html' %}
</div>
{% endblock %}
