{% extends 'base.html' %}
{% load permissions_tags %}
{% block title %}Roles{% endblock %}
{% block content %}
<h2>Roles for {{ request.user.company.name }}</h2>
{% if user|has_permission:'add_role' %}
<a href="{% url 'role_add' %}" class="btn btn-success mb-2">Add Role</a>
{% endif %}
{% include 'includes/filter_form.html' %}
<div id="list-container">
<table class="table">
  <thead>
    <tr>
      {% include 'includes/sortable_th.html' with label='Name' field='name' %}
      {% include 'includes/sortable_th.html' with label='Description' field='description' %}
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for r in page_obj %}
  <tr>
    <td>{{ r.name }}</td>
    <td>{{ r.description }}</td>
    <td>
      {% if user|has_permission:'change_role' %}
      <a href="{% url 'role_edit' r.id %}" class="btn btn-sm btn-primary">Edit</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% include 'includes/pagination.html' %}
</div>
{% endblock %}
