{% extends 'base.html' %}
{% block title %}Stock Lots{% endblock %}
{% block content %}
<h2>Stock Lots</h2>
{% if user|has_permission:'add_stocklot' %}
<a href="{% url 'stock_lot_add' %}" class="btn btn-success mb-2">Add Lot</a>
{% endif %}
{% include 'includes/filter_form.html' %}
<table class="table">
  <thead>
    <tr>
      {% include 'includes/sortable_th.html' with label='Batch' field='batch_number' %}
      <th>Product</th><th>Warehouse</th><th>Qty</th>
    </tr>
  </thead>
  <tbody>
    {% for lot in page_obj %}
    <tr>
      <td>{{ lot.batch_number }}</td>
      <td>{{ lot.product.name }}</td>
      <td>{{ lot.warehouse.name }}</td>
      <td>{{ lot.qty }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'includes/pagination.html' %}
{% endblock %}
